# Source Database (MySQL)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=inventory_wms
MYSQL_USER=wms_user
MYSQL_PASSWORD=wmspassword

# Target Database (PostgreSQL DWH)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=inventory_dw
PG_USER=dw_admin
PG_PASSWORD=dwpassword


# Inventory configurations
INVENTORY_LEAD_TIME_DAYS=5
INVENTORY_SAFETY_STOCK_DAYS=3

# Folder paths (relative to project root or absolute)
DATA_RAW_DIR=data/raw
DATA_STAGING_DIR=data/staging
DATA_MART_DIR=data/mart
